# Personal aliases file, to be shared between bash and zsh
# Mac functional equivalents
alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'

# Color please - now with lsd!
alias ls='lsd --color=auto'
alias ll='lsd -la --color=auto'
alias l.='lsd -d .* --color=auto'

# Dotfiles repo
# Based on https://www.atlassian.com/git/tutorials/dotfiles
# which is based on https://news.ycombinator.com/item?id=11070797
alias mydotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# Drill short mode - https://github.com/NLnetLabs/ldns/issues/28#issuecomment-823032878
alias drill-short='drill-short() { drill "$@" | grep -Ev "^;;|^$"; }; drill-short'
